html {
	height: 100%;
}


body {
	background: url("images/kombat.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	height: 100%;
}

 h4, h3 {
	color: black;
	font-weight: bolder;
	text-align: center;

}



p {
		font-weight: bolder;
	color: orange;
	font-size: 20px;
	/*text-align: center;*/
	padding: 20px;
}

/*#instructions {*/
/*	margin-left: -10%;*/
/*}*/

#instructions {
	margin-top: 10%
}

.card {
	opacity: .8;
	border-radius: 30px;
}

#enemyCharacter {
    position: absolute;
    right: 600px;
    width: 600px;
    height: 370px;
    /*background: blue;*/
    -webkit-animation: slide 0.5s reverse;
    -webkit-animation-delay: 2s;
    animation: slide 0.7s reverse;
    /*animation-delay: 2s;*/
}




.character, .enemies, .charImage{
	margin: 2%;
	display: inline-block;
	height: 150px;
	width: 200px;
	/*background-size: cover;*/
}

.item {
	margin: 3%;
	display: inline-block;
	height: 150px;
	width: 200px;
	/*background-size: cover;*/
}

#yourCharacter, #enemyCharacter {
	height: 180px;
	width: 100px;
}

/*#vs {*/
/*	margin-left: 80%;*/
/*}*/

#opponentHealth {
	margin-top: -15%;
}

#Attack {
	margin-bottom: 55%;
}




/*  this is for tablets */
@media screen and (max-width: 980px) and (min-width: 667px) and (-webkit-min-device-pixel-ratio: 2){

	#scoreArea {
		margin-top: -15%;
	}
	
	#opponentHealth {
	margin-top: -5%;
}
}





/*  this is for phones */
@media screen and (max-width: 600px) and (min-width: 250px) and (-webkit-min-device-pixel-ratio: 2){
	
	#scoreArea {
		margin-top: -15%;
	}
	
	#Attack {
		margin-top: -10%;
		margin-bottom: 2%;
	}
	
	.character, .enemies{
	margin: 2%;
	display: inline-block;
	height: 100px;
	width: 100px;
	/*background-size: cover;*/
}

.item {
	margin: 3%;
	display: inline-block;
	height: 100px;
	width: 100px;
	/*background-size: cover;*/
}

 #enemyCharacter {
    position: absolute;
    right: 200px;
    width: 600px;
    height: 370px;
    /*background: blue;*/
    -webkit-animation: slide 0.5s reverse;
    -webkit-animation-delay: 2s;
    animation: slide 0.7s reverse;
    /*animation-delay: 2s;*/
}

#yourCharacter {
	margin-top: 5%;
	margin-left: -10%;
	margin-bottom: 50%;
	height: 60px;
	width: 40px;
	opacity: .9;
}
	
 #enemyCharacter {
 	margin-top: 5%;
 	margin-left: 5%;
	height: 60px;
	width: 40px;
	opacity: .9;
 }
 

 

}


@-webkit-keyframes slide {
    100% { right: 0; 
    }
}

@keyframes slide {
    100% { right: 0;
    }
}
